OPENAI_API_KEY="YOUR OPENAI KEY HERE"

ANTHROPIC_API_KEY="YOUR ANTHROPIC KEY HERE"

VOYAGE_API_KEY="YOUR VOYAGE API KEY"

GEMINI_API_KEY="YOUR GEMINI API KEY"

COHERE_API_KEY="YOUR COHERE API KEY"

OPENROUTER_API_KEY="YOUR OPENROUTER API KEY"